services:
  db:
    image: mysql:8.0
    container_name: english_center_db
    restart: always
    environment:
      MYSQL_DATABASE: english_center
      MYSQL_ROOT_PASSWORD: 123456789
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./init-db:/docker-entrypoint-initdb.d

  backend:
    build: ./backend
    container_name: english_center_backend
    ports:
      - "8080:8080"
    env_file:
      - ./backend/.env
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: english_center_frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  db_data: